<head>
<title>Sybrant</title>
</head>
<div class="toolbar">	
  <h1 id="pageTitle">
		My Contacts
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/app"><img class="menu_icon" src="/app/images/home.png" width="24" style="cursor:pointer;"/></a>
	</h1>
   
</div>
    
 <% if @msg %>
    <p style="color:#ff0000"><%= @msg %></p>
  <% end %>   
    
<ul id="contacts" title="My Contacts...">
<%@contacts.each do |x|%>
  <li><%=link_to "#{x[1]['first_name']}", :action => :show, :id => x[1]['id']%></li><br/>
<%end%>
</ul>

<%=link_to "New", { :action => :new }, "class=\"button right_button\"" %>	
<%=link_to "Save", { :action => :local_sync }, "class=\"button right_button\"" %>
<br/>
