<head>
<title>Sybrant</title>
</head>
<div class="toolbar">
	<h1 id="pageTitle">
		New Contact
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/app"><img class="menu_icon" src="/app/images/home.png" width="24" style="cursor:pointer;"/></a>
	</h1>
</div>
<form title="New Contact"
   class="panel"
   id="contact_new_form"
   method="POST"
   action="<%=url_for(:action => :create)%>">
  <fieldset>
    <div class="row">
      <label><b>First Name: </b></label>
      <input type="text" name="contact[first_name]"/>
    </div>
    <div class="row">
      <label><b>Last Name: </b></label>
      <input type="text" name="contact[last_name]"/>
    </div>
     <div class="row">
      <label><b>Company Name: </b></label>
      <input type="text" name="contact[company_name]"/>
    </div>
    <div class="row">
      <label><b>Mobile Number: </b></label>
      <input type="text" name="contact[mobile_number]"/>
    </div>
     <div class="row">
      <label><b>Home Number: </b></label>
      <input type="text" name="contact[home_number]"/>
    </div>
    <div class="row">
      <label><b>Business Number: </b></label>
      <input type="text" name="contact[business_number]"/>
    </div>
     <div class="row">
      <label><b>Email address: </b></label>
      <input type="text" name="contact[email_address]"/>
    </div>
    
  </fieldset>
  <input type="submit" value="Create"/>
</form>